<div class="container">
    <div class="text-center">
      <h1 class="text-center">7 Seas</h1>
      <button class="btn btn-info" style="margin: 1em"><a href="/seas/new">Add a Sea</a></button>
    </div>

    <% @seas.each do |sea| %>
      <div class="col-md-4 text-center" style="padding: 1em">
        <div class="card">
          <a href="/seas/<%=sea.id%>"><img class="card-img-top img-thumbnail" style="height: 15rem" src="<%= sea.image_url %>" alt="sea"></a>
          <div class="card-block">
            <h4 class="card-title text-center"><%= sea.name %></h4>
            <p class="card-text" style="height: 1rem"><%= sea.bio %></p>
            <%= link_to 'Show', sea_path(sea) %><br>
            <%= link_to 'Edit', edit_sea_path(sea) %><br>
            <%= link_to 'Destroy', sea_path(sea),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
